
p.data {
    font-size: 3vw;
}

#countdown_grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
                "days days days"
                "hours minutes seconds";
}

#day {
    grid-area: days;
    grid-column-start: 1;
    grid-column-end: 4;
}

.countdown_item {
    text-align: center;
}

.countdown_number {
    font-size: min(10vw, 10vh);
    font-family: Consolas, Monaco, monospace;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
}

#show_msg {
    font-family: Consolas, Monaco, monospace;
}

#day .countdown_number {
    font-size: min(27vw, 20vh);
}

#alert_for_last p {
    font-size: min(10vw, 8vh);
}

#alert_for_last {
    display: none;
}

#countdown_s {
    font-size: 10rem;
}

footer {
    text-align: center;
}
