#countdown_grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
                "days days days"
                "hours minutes seconds";
}

#day {
    grid-area: days;
    grid-column-start: 1;
    grid-column-end: 4;
}

.countdown_item {
    text-align: center;
}

.countdown_number {
    font-size: 5rem;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
}

#day .countdown_number {
    font-size: 10rem;
}

#alert_for_last p {
    font-size: 5rem;
}

#alert_for_last {
    display: none;
}

#countdown_s {
    font-size: 10rem;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}


@media screen and (max-width: 300px) {
    .countdown_number {
        font-size: 1rem;
    }

    #day .countdown_number {
        font-size: 2rem;
    }

    #alert_for_last p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .countdown_number {
        font-size: 2rem;
    }

    #day .countdown_number {
        font-size: 4rem;
    }

    #alert_for_last p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .countdown_number {
        font-size: 3rem;
    }

    #day .countdown_number {
        font-size: 6rem;
    }

    #alert_for_last p {
        font-size: 3rem;
    }
}